{% extends './base.html' %}
{% load static %}
{% block content %}

<div class="select-date text-center font-weight-bold p-3 mb-4 no-print" >
  <div class="bg-light p-2 rounded">
    {{point.name}}
  </div>
</div>

<div>
  <nav aria-label="breadcrumb" class="no-print">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">النقاط</li>
      <li class="breadcrumb-item">{{point.name}}</li>
      <li class="breadcrumb-item">تسجيل مبيعات النقطة</li>
    </ol>
  </nav>
</div>

<div class="form-group row no-print">
    <label for="products" class="col-sm-2 font-weight-bold col-form-label">اســـم المنتج</label>
    <div class="col-sm-10">
      <div class="input-group mb-3">
        <select class="form-control" id="search_list"   name="product_id" aria-label="Amount (to the nearest dollar)" >

              <option value="">اختر اسم الصنف </option>
              {%for product in products %}
                    <option value="{{product.id}}">{{product.name}}</option>
              {%endfor%}

        </select>
      </div>
    </div>
</div>


{%for product in products %}

    <div id="sell_product_{{product.id}}" >
      <div class="no-print">


          <div class="form-group row">
              <label for="products" class="col-sm-2 font-weight-bold col-form-label">اختر الفاتورة</label>
              <div class="col-sm-10">
                <div class="input-group mb-3">
                  <select class="form-control" id="search_list_bills_{{product.id}}"   aria-label="Amount (to the nearest dollar)" >

                        <option value="">اختر الفاتورة</option>
                        {%for product_in_point in products_in_point %}
                          {%for bill in product_in_point %}
                              {%if bill.trader_product.product.id == product.id %}
                                  <!-- <option value="{{bill.id}}"  selected >فاتورة رقم : {{bill.id}} -- بتاريخ : {{bill.date}} -- اسم التاجر : {{bill.trader.name}} </option> -->

                                  <option value="{{bill.id}}{{bill.trader_product.product.id}}"  >فاتورة رقم : {{bill.trader_product.trader_bill.id}} -- بتاريخ : {{bill.trader_product.date}}  -- اسم التاجر : {{bill.trader_product.trader.name}} </option>
                              {%endif%}
                            {%endfor%}
                        {%endfor%}

                  </select>
                </div>
              </div>
          </div>

        </div>

    </div>
    {%endfor%}


      {%for product_in_point in products_in_point %}
        {%for bill in product_in_point %}

        <div id="sell_product_bills_{{bill.id}}{{bill.trader_product.product.id}}">

            <form class="no-print" method="post" >
              {%csrf_token%}

            <input type="number" name="bill_id"   value="{{bill.id}}"  style="display:None;">

              <div class="form-group row">
                  <label for="products" class="col-sm-2 font-weight-bold col-form-label" >تاريخ الصلاحية</label>
                  <div class="col-sm-10">
                    <div class="input-group mb-3">

                      <input type="text" class="text-primary" value="ت. انتاج" class="form-control" readonly>
                      <input type="text" class="col-2 text-primary" value="{{bill.trader_product.production_date|date:'d-m-Y'}}" class="form-control" readonly>
                      <input type="text" class="text-light bg-primary" value="ت انتهاء" class="form-control" readonly>
                      <input type="text" class="col-2 text-primary" value="{{bill.trader_product.expiration_date|date:'d-m-Y'}}"  class="form-control" readonly>
                      {% if bill.trader_product.product_image %}
                        <label for="products" class=" px-1 col-form-label" ><a href="{{bill.trader_product.product_image.url}} " target="_blank"> صورة المنتج</a> </label>
                      {%endif%}
                    </div>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="products" class="col-sm-2 font-weight-bold col-form-label" >الكمية بالكرتونة </label>
                  <div class="col-sm-10">
                    <div class="input-group mb-3">
                      <input type="number" name="quantity_packet" min ="0"  max ="{{bill.quantity_packet}}"  class="form-control" placeholder="اكتب  (0)  صفــر اذا كانت الكمية المسحوبة بعدد القطع فقط" required>
                      <input type="text" class="text-primary" value="الموجود بالمخزن {{bill.quantity_packet}} كرتونة" class="form-control" readonly>
                      <input type="text" class="text-light font-weight-bold bg-primary" value="عدد القطع ف الكرتونة : {{bill.quantity_per_packet}} " class="form-control" readonly>
                      <input type="text" class=" font-weight-bold bg-default" value="سعر الكرتونة : {{bill.trader_product.packet_price}}" class="form-control" readonly>

                    </div>
                  </div>
              </div>
              <div class="form-group row ">
                  <label for="products" class="col-sm-2 font-weight-bold col-form-label" >الكمية بالواحدة / بالقطعة </label>
                  <div class="col-sm-10">
                    <div class="input-group mb-3">
                      <input type="number" name="quantity" min ="0"   max ="{{bill.total_quantity}}"  class="form-control" placeholder="اكتب (0)  صفــر اذا كانت الكمية المسحوبة بعدد الكراتين فقط" required>
                      <input type="text" class="text-primary" value="الموجود بالمخزن {{bill.quantity}} قطعة" class="form-control" readonly>
                      <input type="text" class=" font-weight-bold bg-default" value="سعر القطعة : {{bill.unit_buy_price}}" class="form-control" readonly>
                      <input type="text" class=" font-weight-bold bg-primary" value="سعر القطعة بعد الخصم : {{bill.unit_buy_price_ad}}" class="form-control" readonly>


                    </div>
                  </div>
              </div>

              <div class="form-group row">
                  <label for="products" class="col-sm-2 font-weight-bold col-form-label">اســـم العميـــل</label>
                  <div class="col-sm-10">
                    <div class="input-group mb-3">
                      <select class="form-control"  name="customer_id"   aria-label="Amount (to the nearest dollar)"  required>
                          <option value="">اختر اسم العميل</option>

                          {%if selected_customer %}
                             <option value="{{selected_customer.id}}" selected  >{{selected_customer.name}}</option>
                          {%endif%}

                          {%for customer in customers%}

                             <option value="{{customer.id}}"  >{{customer.name}}</option>

                          {%endfor%}
                      </select>
                    </div>
                  </div>
              </div>

              <div class="form-group row">
                <label for="products" class="col-sm-2 font-weight-bold col-form-label">سعر بيع القطعة</label>
                <div class="col-sm-2">
                  <div class="input-group mb-3">
                    <input type="number" name="selling_price" value="{{bill.unit_sell_price}}" min =".001" step=".001"    class="form-control" placeholder="اكتب سعر بيع القطعة الواحدة بنقطة البيع " required>
                    <!-- <input type="text" class=" font-weight-bold bg-primary" value="سعر البيع الحالى : {{bill.unit_buy_price_ad}}" class="form-control" readonly> -->

                  </div>
                </div>
                  <div class="col-sm-6">
                    <div class="input-group mb-3">
                      <input type="number"  min="0" step=".001" max="{{ttp.product.unit_sell_price}}" name="discount_per_unit" class="form-control" placeholder="اكتب قيمة الخصم للقطعة الواحدة  بالجنيه ان كان هناك خصم / او اترك المربع فارغ" >


                    </div>
                  </div>



            </div>








              {%if  bill.total_quantity %}
                  <div class="d-flex justify-content-around mt-4">
                    <button type="submit" class="btn btn-primary font-weight-bold px-5 " id="btnsubmit" >تأكيد</button>
                  </div>
                {%else%}
                  <div class="alert alert-danger text-center mt-3 mb-0" role="alert">
                    المنتج منتهى من النقطة
                  </div>
                {%endif%}

          </form>
        </div>
            {%endfor%}
          {%endfor%}







  {%if current_bill %}
    <!-- start seperator -->
    <div style="border-top: 7px solid #1abc9c;" class="my-5 no-print"></div>
    <!-- end seperator -->
      <h2 class="text-right no-print"> الفاتورة الحالية</h2>
        <div class="print row font-weight-bold justify-content-around mt-5">
          <p>رقم الفاتورة : <span >{{current_bill.id}}</span></p>
          <p>اسم العميل : <span class="font-weight-bold text-primary" >{{current_bill.customer.name}}</span></p>
          <p>تاريخ الفاتورة: <span >{{current_bill.date}}</span></p>
          <p>مديونية العميل الحالية : <span  class="text-danger">{{current_bill.customer.remaining_money}}</span></p>


        </div>
        <input type="number" name="bill_id"  form="form_sell_{{current_bill.id}}" value="{{current_bill.id}}"  style="display:None;">
        <input type="number" name="customer_id"  form="form_sell_{{current_bill.id}}" value="{{current_bill.customer.id}}"  style="display:None;">
        <table class="table print">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">الصنف</th>

                <th scope="col">ع.كرتونة</th>
                <th scope="col">ع.قطعة</th>
                <th scope="col">ع.قطع كلى</th>
                <th scope="col">سعر البيع</th>
                <th scope="col">الخصم للقطعة</th>
                <th scope="col">الخصم الكلى</th>

                <th scope="col">الاجمالي</th>
                <th scope="col">المطلوب</th>
                <th scope="col" class="text-danger"> نسبة الخصم</th>
                <th scope="col">اسم النقطة</th>

                <th scope="col" class="text-primary no-print"> تعديل</th>
                <th scope="col" class="text-danger no-print"> حذف</th>

              </tr>
            </thead>
            <tbody>

            {% for line in current_bill.all_lines %}
              {%if line.taken_status == 0%}
                <tr>
                  <th scope="row">{{forloop.counter}}</th>

                  <td>{{line.point_product.trader_product.product.name}}</td>
                  <td>{{line.quantity_packet}}</td>
                  <td>{{line.quantity}}</td>
                  <td>{{line.total_quantity_sold}}</td>

                  <td>{{line.unit_sell_price}}</td>
                  <td>{{line.discount_per_unit}}</td>
                  <td>{{line.line_discount}}</td>

                  <td>{{line.line_cost_sell}}</td>
                  <td>{{line.line_cost_sell_ad}}</td>


                    <th class="text-danger">{% widthratio line.line_discount  line.line_cost_sell  100 %}%</th>
                  <td>{{line.Point.name}}</td>

                  <td class="no-print">
                    <!-- Button trigger modal -->
                      <button type="button" class="btn btn-sm btn-primary no-print" data-toggle="modal" data-target="#exampleModal{{line.id}}">
                        تعديل
                      </button>

                          <!-- Modal -->
                          <div class="modal fade" id="exampleModal{{line.id}}" tabindex="{{line.id}}" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel"> تعديل بيانات -  {{line.point_product.trader_product.product.name}} </h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">

                                  <form method="post" action="{%url 'content:edit_customer_point_bill_line' line.id %}"  enctype="multipart/form-data" id="edit_form{{line.id}}" >
                                    {% csrf_token %}




                                    <div class="form-group row">

                                            <label for="products" class="col-sm-5 font-weight-bold col-form-label">الكمية بالكرتونة</label>

                                        <div class="col-sm-5">
                                          <div class="input-group mb-3">
                                            <input type="number" min="0"  name="quantity_packet" value="{{line.quantity_packet}}" class="form-control"  form="edit_form{{line.id}}" required>
                                          </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">

                                          <label for="products" class="col-sm-5 font-weight-bold col-form-label">الكمية بالقطعة</label>

                                      <div class="col-sm-5">
                                        <div class="input-group mb-3">
                                          <input type="number" min="0" name="quantity" value="{{line.quantity}}" class="form-control" form="edit_form{{line.id}}" required>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="form-group row">

                                          <label for="products" class="col-sm-5 font-weight-bold col-form-label">سعر البيع</label>

                                      <div class="col-sm-5">
                                        <div class="input-group mb-3">
                                          <input type="number" name="selling_price" min =".001" step=".001" value="{{line.unit_sell_price}}"   class="form-control" placeholder="اكتب سعر بيع القطعة الواحدة بنقطة البيع " required>
                                          <!-- <input type="text" class=" font-weight-bold bg-primary" value="سعر البيع الحالى : {{bill.unit_buy_price_ad}}" class="form-control" readonly> -->

                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-group row">

                                          <label for="products" class="col-sm-5 font-weight-bold col-form-label">الخصم للقطعة</label>

                                      <div class="col-sm-5">
                                        <div class="input-group mb-3">
                                          <input type="number" name="discount_per_unit" min =".001" step=".001" value="{{line.discount_per_unit}}"   class="form-control" placeholder="اكتب سعر بيع القطعة الواحدة بنقطة البيع " required>
                                          <!-- <input type="text" class=" font-weight-bold bg-primary" value="سعر البيع الحالى : {{bill.unit_buy_price_ad}}" class="form-control" readonly> -->

                                        </div>
                                      </div>
                                    </div>



                                    </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
                                  <button type="submit" form="edit_form{{line.id}}" class="btn btn-primary">حفظ التعديلات</button>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- Modal end  -->
                   </td>
                  <td class="no-print" > <a class="text-danger" href="{%url 'content:delete_customer_point_bill_line' line.id %}"> حذف</a> </td>


                </tr>
              {%endif%}


            {%endfor%}
            </tbody>


        </table>

        <hr class="my-5">
        <div class="container mt-5">
          <div class='row text-center'>

          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">تكلفة الفاتورة</th>
                <th scope="col">الخصم</th>
                <th scope="col">المطلوب</th>
                <th class="text-danger"> نسبة الخصم</th>
              </tr>
            </thead>

            <tbody>

              <tr>
                <th scope="col">{{current_bill.total_bill_cost}}</th>
                <th scope="col">{{current_bill.total_discount}}</th>
                <th scope="col">{{current_bill.required_amount}}</th>
                <th class="text-danger">{% widthratio current_bill.total_discount  current_bill.total_bill_cost  100 %}%</th>

              </tr>
            </tbody>
        </table>



        <!-- start seperator -->
        <div style="border-top: 7px solid #1abc9c;" class="my-5 no-print"></div>
        <!-- end seperator -->
              <div class="no-print col-2 bg-dark text-light font-weight-bolder p-3">المطلوب من العميل</div>
              <div class="no-print col-1 font-weight-bolder  p-3">{{current_bill.required_amount}}</div>

              <div class="no-print col-2 bg-dark text-light font-weight-bolder p-3">المبلغ المدفوع</div>
              <input type="number" name="given_money_amount" form="bill_confirm" step=".01" min ="0" max="{{bill.required_amount}}" step=".01" class=" no-print col-2 p-3 mx-2" placeholder="اكتب المبلغ المدفوع " required >
              <div class="no-print col-2 bg-dark text-light font-weight-bolder p-3">الخصم الاضافى ؟!</div>
              <input type="number" name="discount" form="bill_confirm"   min ="0" step=".01" max="{{bill.required_amount}}" step=".01" class="no-print col-2 p-3 mx-2" placeholder="اكتب الخصم الاضافى؟" required >
              <input type="number" name="customer_id"  form="bill_confirm" value="{{current_bill.customer.id}}"  style="display:None;">




            </div>
            <div class="d-flex justify-content-around mt-4">
              <button type="submit" form="bill_confirm" class="no-print btn btn-hover font-weight-bold px-5 ">تأكيد إضافة الفاتورة</button>
              <button onclick="window.print();" class="no-print btn col-4  btn-primary font-weight-bold px-5 mx-5">طباعــة</button>

            </div>

          </div>


          <form class="" action="{%url 'content:confirm_customer_point_bill' current_bill.id  %}" method="post" enctype="multipart/form-data" id="bill_confirm" >

            {%csrf_token%}
          </form>













    {%endif%}
      <div class="row  font-weight-bold p-3 mb-4 justify-content-center">
      <a href="{%url 'content:point_page' point.id %}">
          <button class="no-print btn  btn-hover font-weight-bold px-5 mx-2">رجوع</button>
      </a>
      </div>


    {% if failed == 1 %}
    <div class="alert alert-danger text-center mt-3 mb-0" role="alert">
      خطأ لم يتم تحديث البيانات . تأكد من اسم المنتج و الكمية الصحيحة
    </div>
    {%elif success %}
    <div class="alert alert-success text-center mt-3 mb-0" role="alert">
      تم حفظ البيانات
    </div>
    {% endif %}

    <script>
      const navLinks = document.querySelectorAll(".nav-item")
      for (link of navLinks){
          link.classList.remove('active-link')
      }
      navLinks[7].classList.add('active-link');

    </script>


{%endblock%}
