{% extends './base.html' %}
{% block content %}



<div class="select-date text-center font-weight-bold p-3 mb-4  no-print">

</div>

<div class="no-print">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">النقاط</li>
            <li class="breadcrumb-item">{{point.name}}</li>
            <li class="breadcrumb-item">النواقص</li>

        </ol>
    </nav>
</div>


<!-- start section seperator -->
<div>
    <div class="select-date text-center font-weight-bold p-3 mb-4" style="position: relative;
  top: 60px;">
        <div class="bg-light p-2 rounded">
            البضائع المنتهية   -- النواقص
        </div>


    </div>

    <div style="border-top: 7px solid #1abc9c;"></div>
</div>
<!-- end section seperator -->

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">الصنف - صفحة الصنف</th>
            <th scope="col">اسم المورد - صفحة المورد</th>
        </tr>
    </thead>
    <tbody>
        {% for p in all_products %}
        {%if p.total_quantity == 0%}
        <tr class="text-danger font-weight-bold">
            {%else%}
        <tr>
            {%endif%}
            <th scope="row">{{forloop.counter}}</th>

            
            <td> <a href="{% url 'content:trader_page' p.trader_product.trader.id %}" target="_blank"> {{p.trader_product.trader.name}} </a> </td>
            
            <td> <a href="{% url 'content:product_page' p.trader_product.product.id %}" target="_blank"> {{p.trader_product.product.name}} </a> </td>
            
               
        </tr>
        {% endfor %}

    </tbody>
</table>
<hr class="my-5">
<div class="container mt-5">
    <div class='row text-center'>
        <div class="col-4 bg-dark text-light font-weight-bolder p-3">الاجمالي</div>
        <div class="col-8 font-weight-bolder  p-3">{{total_dept}}</div>
    </div>

</div>


<div class="row  font-weight-bold p-3 mb-4 justify-content-center no-print">
    <a href="{%url 'content:point_page' point.id %}">
        <button class="btn  btn-hover font-weight-bold px-5 mx-2">رجوع</button>
    </a>

    <button onclick="window.print();" class="btn col-4  btn-primary font-weight-bold px-5 mx-5">طباعــة</button>

</div>



<script>
    const navLinks = document.querySelectorAll(".nav-item")
    for (link of navLinks) {
        link.classList.remove('active-link')
    }
    navLinks[7].classList.add('active-link');

</script>

{%endblock%}