{% extends './base.html' %}

{% block content %}

<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">العملاء</li>
      <li class="breadcrumb-item">{{customer.name}}</li>
    </ol>
  </nav>
</div>

<h2 style="padding-top: 10px;" class="text-right">بيانـات العميل</h2>

<div class="trade-info text-right" >
    <div class="info">
        - <span>اســم العميل: </span> <span>{{customer.name}}</span>
    </div>
    <div class="info">
        - <span> العنوان:</span> <span>{{customer.address}}</span>
    </div>
    <div class="info">
       - <span> رقم الهاتف:</span> <span>{{customer.phone_number}}</span>
    </div>
    <div class="info">
       - <span> تاريخ بداية التعامل مع المؤسسة</span> <span>{{customer.date.date}}</span>
    </div>
    <div class="info font-weight-bold text-danger">
       - <span> مديونية العميل : </span> <span>{{customer.remaining_money}}</span>
    </div>


</div>
  {%if user.groups.first.name == "managers"%}
<div class="row  font-weight-bold p-3 mb-4 justify-content-center">

    <div class="row">
      <div class="mx-2 ">
          <a href="{%url 'content:customer-payment' customer.id%}" target="_blank">
              <button class="btn btn-sm btn-hover font-weight-bold px-1">تحصيــــل فاتـــورة</button>
          </a>
          </div>


            <div class="">
              <a href="{%url 'content:restore-customer-bill' customer.id  %}" target="_blank">
                  <button class="btn btn-sm btn-danger font-weight-bold px-1 mx-2">استرجاع فاتورة</button>
              </a>
              </div>







            <div class="">
              <a href="{%url 'content:customer_all_unpaid_bills' customer.id %}" target="_blank">
                  <button class="btn btn-sm  btn-info font-weight-bold px-1 mx-2">كشف ب فواتير العميل الغير مدفوعة</button>
              </a>
              </div>

            <div class="">
              <a href="{%url 'content:customer_all_restored_bills' customer.id %}" target="_blank">
                  <button class="btn btn-sm  btn-danger font-weight-bold px-1 mx-2">كشف ب فواتير العميل المسترجعة</button>
              </a>
              </div>
    </div>

    <div class="row mt-4">
      <div class="">
        <a href="{%url 'content:customer_all_paid_bills' customer.id %}" target="_blank">
            <button class="btn btn-sm btn-primary font-weight-bold px-1 mx-2">كشف ب فواتير العميل المدفوعة</button>
        </a>
        </div>
      <div class="">
        <a href="{%url 'content:customer_all_money_bills' customer.id %}" target="_blank">
            <button class="btn btn-sm  btn-primary font-weight-bold px-1 mx-2">كشف ب فواتير العميل النقدية</button>
        </a>
        </div>
        <!-- Button trigger modal -->
          <button type="button" class="btn  btn-sm btn-primary px-1 mx-2" data-toggle="modal" data-target="#exampleModal">
            تعديل بيانات العميل
          </button>

        <!-- Button trigger modal -->
          <button type="button" class="btn btn-sm btn-primary px-1 mx-2" data-toggle="modal" data-target="#add_customer_money">
            اضافة مبلغ نقدى
          </button>


      <div class="">
        <a href="{%url 'content:customers-page'  %}">
            <button class="btn  btn-sm btn-hover font-weight-bold px-1 mx-2">رجوع</button>
        </a>
        </div>
    </div>

  </div>
  {%endif%}

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> تعديل البيانات </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form method="post"  enctype="multipart/form-data" id ="add_form">
            {% csrf_token %}


            <div class="form-group row">

                    <label for="products" class="col-sm-2 font-weight-bold col-form-label">الاسم</label>

                <div class="col-sm-10">
                  <div class="input-group mb-3">
                    <input type="text" name="name" value="{{customer.name}}" class="form-control" required>
                  </div>
                </div>
            </div>

            <div class="form-group row">

                  <label for="products" class="col-sm-2 font-weight-bold col-form-label">العنوان</label>

              <div class="col-sm-10">
                <div class="input-group mb-3">
                  <input type="text"  name="address" value="{{customer.address}}" class="form-control" required>
                </div>
              </div>
            </div>

            <div class="form-group row">

                  <label for="products" class="col-sm-2 font-weight-bold col-form-label">ارقام التليفونات</label>

                <div class="col-sm-10">
                  <div class="input-group mb-3">
                      <input type="text" name = "phone_number" value="{{customer.phone_number}}" class="form-control" required>
                  </div>
                </div>
            </div>

            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
          <button type="submit" form="add_form" class="btn btn-primary">حفظ التعديلات</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal end  -->
  <!-- Modal -->
  <div class="modal  fade" id="add_customer_money" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="add_customer_money"> اضافة مبلغ نقدى تحت الحساب</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3>
              <span>  ملاحظات </span>
              <ol>
                <li>عند
                    <span class="text-primary"> تحصيل مبلغ من العميل </span>
                   للخزنة تكتب الكمية بالموجب مثال  اضافة 250 جنيه  ->
                   <br>
                   المبلغ : 250
                 </li>
                 <br> <br>
                <li>عند
                    <span class="text-primary"> دفع مبلغ للعميل من الخزنة</span>
                    <span class="text-danger"> اكتب المبلغ مسبوقا ب اشارة الطرح  - </span>
                    مثال اعطاء العميل 300 جنيه
                   <br>
                   المبلغ : -300
                 </li>

              </ol>
          </h3>


          <form method="post" action="{%url 'content:add_customer_dept' customer.id %}" id="add_customer_dept" >
            {% csrf_token %}


                <div class="form-group row">
                    <label for="products" class="col-sm-2 font-weight-bold col-form-label">المبلـــغ </label>
                    <div class="col-sm-10">
                      <div class="input-group mb-3">
                        <input type="number" form="add_customer_dept"  step=".01" name="amount" class="form-control" required>
                      </div>
                    </div>
                </div>



                <div class="form-group row">
                  <label for="products" class="col-sm-2 font-weight-bold col-form-label">ملاحظات</label>
                  <div class="col-sm-10">
                    <div class="input-group mb-3">
                        <!-- <input type="text" value="" class="form-control" name="notes" required> -->
                        <textarea name="notes" form="add_customer_dept" class="form-control"  required></textarea>
                    </div>
                  </div>
              </div>

            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
          <button type="submit" form="add_customer_dept" class="btn btn-primary">حفظ</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal end  -->

{% endblock %}





    {% block content_6 %}



    <script>
      const navLinks = document.querySelectorAll(".nav-item")
      for (link of navLinks){
          link.classList.remove('active-link')
      }
      navLinks[1].classList.add('active-link');

    </script>
{% endblock %}
