{% extends './base.html' %}
{% block content %}


<div class="select-date text-center font-weight-bold p-3 mb-4">

</div>


<div class="form-group row">
    <div class="col-sm-10">
      <div class="input-group mb-3">

          <div class="input-group-prepend">
            <label > الحساب الجارى بداية من يوم   {{user.current_manager.start_date|date:"d / m / Y"}} </label>

          </div>
      </div>
    </div>
</div>




<div class="form-group row">
    <label for="inputPassword" class="col-sm-2 font-weight-bold col-form-label">مديونية للتجار</label>
    <div class="col-sm-10">
    <div class="input-group mb-3">
        <input type="number"  value="{{trader_dapts|floatformat}}"  class="form-control" id="price-for-unit" aria-label="Amount (to the nearest dollar)" readonly>
        <div class="input-group-prepend">
        <span class="input-group-text">جنيه</span>
        </div>
    </div>
    </div>
</div>
<div class="form-group row">
    <label for="inputPassword" class="col-sm-2 font-weight-bold col-form-label">مديونية العملاء</label>
    <div class="col-sm-10">
    <div class="input-group mb-3">
        <input type="number"  value="{{customer_dapts|floatformat}}"  class="form-control" id="price-for-unit" aria-label="Amount (to the nearest dollar)" readonly>
        <div class="input-group-prepend">
        <span class="input-group-text">جنيه</span>
        </div>
    </div>
    </div>
</div>

<div class="form-group row">
    <label for="inputPassword" class="col-sm-2 font-weight-bold col-form-label">اجمالي البضاعة المتبقية بالمخزن</label>
    <div class="col-sm-10">
    <div class="input-group mb-3">
        <input type="number"  value="{{total_products_in_store|floatformat}}"  class="form-control" id="price-for-unit" aria-label="Amount (to the nearest dollar)" readonly>
        <div class="input-group-prepend">
        <span class="input-group-text">جنيه</span>
        </div>
    </div>
    </div>
</div>

<div class="form-group row">
    <label for="inputPassword" class="col-sm-2 font-weight-bold col-form-label">اجمالي البضاعة المتبقية بالنقاط</label>
    <div class="col-sm-10">
    <div class="input-group mb-3">
        <input type="number"  value="{{total_products_in_points|floatformat}}"  class="form-control" id="price-for-unit" aria-label="Amount (to the nearest dollar)" readonly>
        <div class="input-group-prepend">
        <span class="input-group-text">جنيه</span>
        </div>
    </div>
    </div>
</div>

<div class="form-group row">
    <label for="inputPassword" class="col-sm-2 font-weight-bold col-form-label">النثريات</label>
    <div class="col-sm-10">
    <div class="input-group mb-3">
        <input type="number"  value="{{total_withdrawings|floatformat}}"  class="form-control" id="price-for-unit" aria-label="Amount (to the nearest dollar)" readonly>
        <div class="input-group-prepend">
        <span class="input-group-text">جنيه</span>
        </div>
    </div>
    </div>
</div>

<div class="form-group row">
    <label for="inputPassword" class="col-sm-2 font-weight-bold col-form-label">الموجود بالخزنة</label>
    <div class="col-sm-10">
    <div class="input-group mb-3">
        <input type="number"  value="{{safe_current_money|floatformat}}"  class="form-control" id="price-for-unit" aria-label="Amount (to the nearest dollar)" readonly>
        <div class="input-group-prepend">
        <span class="input-group-text">جنيه</span>
        </div>
    </div>
    </div>
</div>

<div class="form-group row">
    <label for="inputPassword" class="col-sm-2 font-weight-bold col-form-label">اجمالي ربح الشركة </label>
    <div class="col-sm-10">
    <div class="input-group mb-3">
        <input type="number"  value="{{total_profit|floatformat}}"  class="form-control" id="price-for-unit" aria-label="Amount (to the nearest dollar)" readonly>
        <div class="input-group-prepend">
        <span class="input-group-text">جنيه</span>
        </div>
    </div>
    </div>
</div>




<script>
    const navLinks = document.querySelectorAll(".nav-item")
    for (link of navLinks){
        link.classList.remove('active-link')
    }
    navLinks[5].classList.add('active-link');

</script>

{% endblock %}
