{% extends './base.html' %}
{% block content %}

<div class="select-date text-center font-weight-bold p-3 mb-4">
  <div class="bg-light p-2 rounded">
    {{point.name}}
  </div>
</div>

<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">النقاط</li>
      <li class="breadcrumb-item">{{point.name}}</li>
    </ol>
  </nav>
</div>

<div class="form-group row">
  <label for="inputPassword" class="col-sm-3 font-weight-bold col-form-label">اجمالي البضاعة الموجودة</label>
  <div class="col-sm-9">
  <div class="input-group mb-3">
      <span  class="form-control text-right" id="price-for-unit" aria-label="Amount (to the nearest dollar)">{{all_products_count}}   صنف</span>
  </div>
  </div>
</div>


<!-- start seperator -->
<div style="border-top: 7px solid #1abc9c;" class="my-5"></div>
<!-- end seperator -->

<div class="row font-weight-bold justify-content-around mt-5">

    {%if user.groups.first.name == "managers"%}
    <div class="row">
      <a href="{%url 'content:add_new_point_sellings' point.id%}" target="_blank">
        <button class="btn  btn-sm btn-hover font-weight-bold px-2 mx-1">تسجيل  مبيعات النقطة</button>
      </a>

      <a href="{%url 'content:restore_point_product_store' point.id%}" target="_blank">
        <button class="btn btn-sm btn-danger font-weight-bold px-5 mx-1">استرجاع بضاعة للمخزن</button>
      </a>
      <a href="{%url 'content:point_to_point_product' point.id%}" target="_blank">
        <button class="btn btn-sm btn-warning font-weight-bold px-5 mx-1">نقل بضاعة من نقطة لاخرى</button>
      </a>

      <div class="">
        <a href="{%url 'content:points'  %}">
            <button class="btn btn-sm btn-hover font-weight-bold px-5 mx-2">رجوع</button>
        </a>
        </div>
    </div>


    <div class="row m-2">
      <a href="{%url 'content:all_point_payments' point.id%}" target="_blank">
        <button class="btn  btn-sm btn-hover font-weight-bold px-2 mx-1">كشف ب مبيعات النقطة</button>
      </a>

      <a href="{%url 'content:all_point_products' point.id%}" target="_blank">
        <button class="btn btn-sm btn-info font-weight-bold px-5 mx-1">البضائع الموجودة بالنقطة</button>
      </a>
      <a href="{%url 'content:all_point_moved_products' point.id%}" target="_blank">
        <button class="btn btn-sm btn-primary font-weight-bold px-5 mx-1">البضائع المنقولة للنقطة</button>
      </a>

      <div class="">
        <a href="{%url 'content:all_point_restored_bills' point.id  %}">
            <button class="btn btn-sm btn-danger font-weight-bold px-5 mx-2 " target="_blank">البضائع المسترجعة للنقطة</button>
        </a>
        </div>
    </div>

      {%endif%}
</div>


    <script>
      const navLinks = document.querySelectorAll(".nav-item")
      for (link of navLinks){
          link.classList.remove('active-link')
      }
      navLinks[7].classList.add('active-link');

    </script>


{%endblock%}
