{% extends './base.html' %}

{% block content %}

<div class="select-date text-center font-weight-bold p-3 mb-4">
  <div class=" p-2 rounded">
    </div>
</div>

<form class="no-print"  method="post">

  {%csrf_token%}
  <div class="form-group row">
      <label for="products" class="col-sm-2 font-weight-bold col-form-label">اســـم المنتج</label>
      <div class="col-sm-6">
        <div class="input-group mb-3">
          <select class="form-control"   name="product_id" aria-label="Amount (to the nearest dollar)" required>
              <option value="">اختر اسم المنتج</option>
              {%for product in products%}
              <option value="{{product.id}}"   >{{product.name}}</option>
              {%endfor%}
          </select>
        </div>
      </div>
    </div>

    <div class="input-group row ">

        <!-- <div class="col-10"> -->
          <div class="input-group-prepend">
            <span class="input-group-text font-weight-bold rounded-0" id="inputGroup-sizing-sm"> من تاريخ </span>
          </div>
          <input type="date" name="from_date" class="form-control rounded-0" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm" >




          <div class="input-group-prepend mr-2">
            <span class="input-group-text font-weight-bold rounded-0" id="inputGroup-sizing-sm">الى تاريخ</span>
          </div>
          <input type="date" name="to_date" class="form-control rounded-0" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm" >
      <!-- </div> -->

        <div class=" ">
          <button type="submit" class="btn btn-sm btn-hover font-weight-bold px-5 ">بحث</button>
        </div>
    </div>


</form>

{%if from_date != None %}
    <div class="form-group row mt-4 text-center">
        <div class="col-sm-10">
          <div class="input-group">

              <div class="input-group-prepend ">
                <h3> تفاصيل المنتج / الصنف  <span class="font-weight-bold text-primary"> {{product.name}} </span>
                  فى الفترة من : {{from_date|date:"Y / m / d"}} -- الى {{to_date |date:"Y / m / d"}} </h3>

              </div>
          </div>
        </div>
    </div>
{%endif%}

{%if product_in_store.count > 0 %}
<!-- start section seperator -->
<div>
  <div class="select-date text-center font-weight-bold p-3 mb-4" style="position: relative;
  top: 60px;">
      <div class="bg-light p-2 rounded">
          تفاصيل الموجود بالمخزن
      </div>
  </div>

  <div style="border-top: 7px solid #1abc9c;"></div>
</div>
<!-- end section seperator -->

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">رقم فاتورة المشتروات</th>
        <th scope="col">التاريخ</th>
        <th scope="col">الكمية بالكرتونة</th>
        <th scope="col">الكمية بالوحدة</th>

        <th scope="col">عدد القطع ف الكرتونة</th>
        <th scope="col">عدد القطع الكلى</th>

        <th scope="col">سعر شراء الكرتونة</th>
        <th scope="col">سعر بعد الخصم</th>
        <th scope="col">التكلفة</th>
        <th scope="col">اسم التاجر</th>
        <th scope="col">تاريخ الانتاج</th>
        <th scope="col" class="text-danger">تاريخ الانتهاء</th>
        <th scope="col">صورة المنتج</th>

      </tr>
    </thead>
    <tbody>
      {% for p in product_in_store %}
      {%if p.quantity > 0 or p.quantity_packet > 0%}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td><a href="{%url 'content:trader_bill_details' p.trader_bill.id%}" target="_blank">اضغط لروية الفاتورة: {{p.trader_bill.id}}</a> </td>

        <td>{{p.date|date:'d-m-Y'}}</td>
        <td>{{p.quantity_packet}}</td>
        <td>{{p.quantity}}</td>

        <td>{{p.quantity_per_packet}}</td>
        <td>{{p.total_quantity_in_store}}</td>

        <td>{{p.packet_price}}</td>
        <td>{{p.packet_price_ad}}</td>
        <td>{{p.total_quantity_in_store_cost}}</td>

        <td><a href="{%url 'content:trader_page' p.trader.id%}">{{p.trader.name}}</a></td>
        <td>{{p.production_date|date:'d-m-Y'}}</td>
        <td class="text-danger">{{p.expiration_date|date:'d-m-Y'}}</td>

        {%if p.trader_bill.bill_file%}
          <td> <a href="{{p.trader_bill.bill_file.url}}" target="_blank"> اضغط لرؤية الفاتورة</a> </td>
        {%endif%}

      </tr>
      {%endif%}
      {% endfor %}

    </tbody>
</table>
{%endif%}


{%if product_in_points.count > 0 %}
<!-- start section seperator -->
<div>
  <div class="select-date text-center font-weight-bold p-3 mb-4" style="position: relative;
  top: 60px;">
      <div class="bg-light p-2 rounded">
          تفاصيل الموجود بالنقاط
      </div>
  </div>

  <div style="border-top: 7px solid #1abc9c;"></div>
</div>
<!-- end section seperator -->

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">اسم النقطة</th>
        <th scope="col">رقم فاتورة المشتروات</th>
        <th scope="col">التاريخ</th>
        <th scope="col">الكمية بالكرتونة</th>
        <th scope="col">الكمية بالوحدة</th>

        <th scope="col">عدد القطع ف الكرتونة</th>
        <th scope="col">عدد القطع الكلى</th>

        <th scope="col">سعر شراء الكرتونة</th>
        <th scope="col">سعر بعدالخصم</th>
        <th scope="col">التكلفة</th>

        <th scope="col">تاريخ الانتاج</th>
        <th scope="col" class="text-danger">تاريخ الانتهاء</th>
        <th scope="col">صورة المنتج</th>
        <th scope="col" class="text-primary">سعر البيع بالنقطة</th>

      </tr>
    </thead>
    <tbody>
      {% for p in product_in_points %}
      {%if p.quantity > 0 or p.quantity_packet > 0%}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{p.Point.name}}</td>
        <td><a href="{%url 'content:trader_bill_details' p.trader_product.trader_bill.id%}" target="_blank">اضغط لروية الفاتورة: {{p.trader_product.trader_bill.id}}</a> </td>

        <td>{{p.date|date:'d-m-Y'}}</td>
        <td>{{p.quantity_packet}}</td>
        <td>{{p.quantity}}</td>

        <td>{{p.trader_product.quantity_per_packet}}</td>
        <td>{{p.total_quantity}}</td>

        <td>{{p.trader_product.packet_price}}</td>
        <td>{{p.trader_product.packet_price_ad}}</td>
        <td>{{p.current_quantity_cost_buy}}</td>

        <td>{{p.trader_product.production_date|date:'d-m-Y'}}</td>
        <td class="text-danger">{{p.trader_product.expiration_date|date:'d-m-Y'}}</td>

        {%if p.trader_product.trader_bill.bill_file%}
          <td> <a href="{{p.trader_product.trader_bill.bill_file.url}}" target="_blank"> اضغط لرؤية الفاتورة</a> </td>
        {%endif%}
        <td class="text-primary">{{p.unit_sell_price}}</td>


      </tr>
      {%endif%}
      {% endfor %}

    </tbody>
</table>

{%endif%}

{%if customers_payments.count > 0 %}
<!-- start section seperator -->
<div>
  <div class="select-date text-center font-weight-bold p-1 mb-2" style="position: relative;
  top: 60px;">
      <div class="bg-light p-2 rounded">
          تفاصيل المباع للعملاء
      </div>
  </div>

  <div style="border-top: 1px solid #1abc9a;"></div>
</div>
<!-- end section seperator -->
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <!-- <th scope="col">الصنف</th>
        <th scope="col">ك كرتونة</th>
        <th scope="col">ك قطعة</th> -->
        <th scope="col">عدد الكلى بالقطع</th>

        <th scope="col">سعر البيع</th>


        <th scope="col">الاجمالي</th>
        <th scope="col">الخصم الكلى</th>
        <th scope="col">المطلوب</th>
        <th scope="col" class="text-danger"> نسبة الخصم</th>
        <th scope="col">اسم النقطة</th>
        <th scope="col">اسم العميل</th>
        <th scope="col">رقم فاتورة المبيعات</th>
        <th scope="col">اسم التاجر</th>
        <th scope="col">رقم فاتورة المشتروات</th>
        <th scope="col">صورة المنتج</th>



      </tr>
    </thead>
    <tbody>
      {%for pps in customers_payments%}
        <tr>
          <th scope="row">{{forloop.counter}}</th>

          <!-- <td>{{pps.point_product.trader_product.product.name}}</td>
          <td>{{pps.quantity_packet}}</td>
          <td>{{pps.quantity}}</td> -->
          <td>{{pps.total_quantity_sold}}</td>

          <td>{{pps.unit_sell_price}}</td>
          <td>{{pps.line_cost_sell}}</td>
          <td>{{pps.line_discount}}</td>
          <td>{{pps.line_cost_sell_ad}}</td>


          <th class="text-danger">{% widthratio pps.line_discount  pps.line_cost_sell  100 %}%</th>

          <td>{{pps.Point.name}}</td>
          <td><a href="{%url 'content:customer-page' pps.bill.customer.id%}" target="_blank"> {{pps.bill.customer.name}}</a> </td>
          <td><a href="{%url 'content:customer-bill-details' pps.bill.id%}" target="_blank"> {{pps.bill.id}}</a> </td>
          <td><a href="{%url 'content:trader_page' pps.point_product.trader_product.trader.id%}" target="_blank"> {{pps.point_product.trader_product.trader.name}}</a> </td>
          <td><a href="{%url 'content:customer-bill-details' pps.point_product.trader_product.trader_bill.id%}" target="_blank"> {{pps.point_product.trader_product.trader_bill.id}}</a> </td>
          {%if pps.point_product.trader_product.product_image%}
            <td> <a href="{{pps.point_product.trader_product.product_image.url}}" target="_blank"> اضغط لرؤية صورة المنتج</a> </td>
          {%endif%}
        </tr>
        {%endfor%}


    </tbody>


</table>

{%endif%}



{%if customer_payments_acc.count > 0 %}
<!-- start section seperator -->
<div>
  <div class="select-date text-center font-weight-bold p-1 mb-2" style="position: relative;
  top: 60px;">
      <div class="bg-light p-2 rounded">
          تفاصيل اجمالى المباع للعملاء من الصنف
      </div>
  </div>

  <div style="border-top: 1px solid #1abc9a;"></div>
</div>
<!-- end section seperator -->
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>

        <th scope="col">اسم العميل</th>
        <th scope="col">الكمية بالقطعة</th>



      </tr>
    </thead>
    <tbody>
      {%for pps in customer_payments_acc%}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{pps.bill__customer__name}}</td>
          <td>{{pps.total_quantity}}</td>

        </tr>
        {%endfor%}


    </tbody>


</table>

{%endif%}



{% endblock %}
