{% extends './base.html' %}

{% block content %}

<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">التجار</li>
      <li class="breadcrumb-item">المورد</li>
    </ol>
  </nav>
</div>

<h2 style="padding-top: 10px;" class="text-right">بيانـات التاجــر</h2>

<div class="trade-info text-right" >
    <div class="info">
        - <span>اســم التاجــر: </span> <span>{{trader_pdata.name}}</span>
    </div>
    <div class="info">
        - <span> العنوان:</span> <span>{{trader_pdata.address}}</span>
    </div>
    <div class="info">
       - <span> رقم الهاتف:</span> <span>{{trader_pdata.phone_number}}</span>
    </div>
    <div class="info">
       - <span> تاريخ بداية التعامل مع المنطقــة:</span> <span>{{trader_pdata.date.date}}</span>
    </div>
    <div class="info font-weight-bold text-danger">
       - <span> مديونية التاجــر : </span> <span>{{trader_pdata.remaining_money}}</span>
       {% if trader_pdata.remaining_money > 0 %}
          <span class="text-primary"> مديونية مستحقة للتاجر </span>
        {%else%}
         <span class="text-danger"> مديونية على التاجر لحساب الشركة</span>
       {%  endif %}
    </div>

    <div class="info">
      -  <span> أسماء البضائع الموردة:</span>
       <span>
         {%for tp in trader_products%}
          <a href="{%url 'content:product_page' tp.id%}">{{tp.name}}-</a>
         {%endfor%}
       </span>
    </div>
</div>
  {%if user.groups.first.name == "managers"%}
<div class="row  font-weight-bold p-3 mb-4 justify-content-center">

          <div class="row">
            <div class="mx-2 ">
                <a href="{%url 'content:give_payment' trader_pdata.id%}">
                    <button class="btn btn-sm btn-hover font-weight-bold px-1">دفــع فاتـــورة</button>
                </a>
                </div>

                  <div class="mx-2 ">
                      <a class="btn btn-hover btn-sm font-weight-bold px-1" href="{%url 'content:update_product' trader_pdata.id%}">اضافة فاتورة</a>
                  </div>

                  <div class="">
                    <a href="{%url 'content:restore_trader_product_store' trader_pdata.id  %}">
                        <button class="btn btn-sm  btn-danger font-weight-bold px-1 mx-2">استرجاع فاتورة</button>
                    </a>
                    </div>



                      <div class="">
                        <a href="{%url 'content:add_money_dept' trader_pdata.id  %}">
                            <button class="btn btn-sm  btn-warning font-weight-bold px-1 mx-2">اضافة سلفــة نقديـــة</button>
                        </a>
                      </div>

                      <div class="">
                        <a href="{%url 'content:trader_all_unpaid_bills' trader_pdata.id %}" target="_blank">
                            <button class="btn btn-sm  btn-info font-weight-bold px-1 mx-2">كشف ب فواتير التاجر الغير مدفوعة</button>
                        </a>
                        </div>
          </div>
          <div class="row m-3">


            <div class="">
              <a href="{%url 'content:trader_all_restored_bills' trader_pdata.id %}" target="_blank">
                  <button class="btn btn-sm  btn-danger font-weight-bold px-1 mx-2">كشف ب فواتير التاجر المسترجعة</button>
              </a>
              </div>


              <div class="">
                <a href="{%url 'content:trader_all_paid_bills' trader_pdata.id %}" target="_blank">
                    <button class="btn btn-sm btn-primary font-weight-bold px-1 mx-2">كشف ب فواتير العميل المدفوعة</button>
                </a>
              </div>


              <div class="">
                <a href="{%url 'content:trader_all_money_bills' trader_pdata.id %}" target="_blank">
                    <button class="btn btn-sm  btn-primary font-weight-bold px-1 mx-2">كشف ب فواتير التاجر النقدية</button>
                </a>
                </div>

                <div class="">
                  <!-- Button trigger modal -->
                    <button type="button" class="btn btn-sm btn-primary  px-1 mx-5" data-toggle="modal" data-target="#exampleModal">
                      تعديل بيانات التاجر
                    </button>
                </div>


                  <div class="">
                    <a href="{%url 'content:Debts'  %}">
                        <button class="btn btn-sm  btn-hover font-weight-bold px-1 mx-2">رجوع</button>
                    </a>
                    </div>
          </div>
          <div class="row">

          </div>

  </div>
  {%endif%}


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> تعديل البيانات </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form method="post"  enctype="multipart/form-data" id ="add_form">
              {% csrf_token %}


              <div class="form-group row">

                      <label for="products" class="col-sm-2 font-weight-bold col-form-label">الاسم</label>

                  <div class="col-sm-10">
                    <div class="input-group mb-3">
                      <input type="text" name="name" value="{{trader_pdata.name}}" class="form-control" required>
                    </div>
                  </div>
              </div>

              <div class="form-group row">

                    <label for="products" class="col-sm-2 font-weight-bold col-form-label">العنوان</label>

                <div class="col-sm-10">
                  <div class="input-group mb-3">
                    <input type="text"  name="address" value="{{trader_pdata.address}}" class="form-control" required>
                  </div>
                </div>
              </div>

              <div class="form-group row">

                    <label for="products" class="col-sm-2 font-weight-bold col-form-label">ارقام التليفونات</label>

                  <div class="col-sm-10">
                    <div class="input-group mb-3">
                        <input type="text" name = "phone_number" value="{{trader_pdata.phone_number}}" class="form-control" required>
                    </div>
                  </div>
              </div>

              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
            <button type="submit" form="add_form" class="btn btn-primary">حفظ التعديلات</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal end  -->

    <script>
      const navLinks = document.querySelectorAll(".nav-item")
      for (link of navLinks){
          link.classList.remove('active-link')
      }
      navLinks[6].classList.add('active-link');

    </script>
{% endblock %}
